apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-play-app
  labels:
    app: simple-play-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-play-app
  template:
    metadata:
      labels:
        app: simple-play-app
    spec:
      containers:
        - name: api
          image: nemo83/simple-play-app:0.4
          ports:
            - containerPort: 9000
