apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-play-app
  labels:
    app: simple-play-app
    release: prometheus
spec:
  selector:
    matchLabels:
      app: simple-play-app
  replicas: 1
  template:
    metadata:
      labels:
        app: simple-play-app
        release: prometheus
    spec:
      containers:
      - name: simple-play-app
        image: "nemo83/simple-play-app:{{ .Values.version }}"
        ports:
          - name: http
            containerPort: 9000
            protocol: TCP
          - name: http-metrics
            containerPort: 9095
            protocol: TCP
