apiVersion: v1
kind: Service
metadata:
  name: simple-play-app
  labels:
    app: simple-play-app
    k8s-app: simple-play-app
spec:
  ports:
    - name: http
      port: 9000
      protocol: TCP
    - name: http-metrics
      port: 9095
      targetPort: metrics
      protocol: TCP
  selector:
    app: simple-play-app
