apiVersion: v1
kind: Service
metadata:
  name: simple-play-app
  labels:
    app: simple-play-app
spec:
  ports:
    - port: 9000
      targetPort: http
      protocol: TCP
      name: http
    - port: 9095
      targetPort: 9095
      protocol: TCP
      name: prom
  selector:
    app: simple-play-app
