apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: simple-play-app
  namespace: observe
spec:
  endpoints:
    - path: /
      port: http-metrics
  namespaceSelector:
    matchNames:
      - default
  selector:
    matchLabels:
      app: simple-play-app
