apiVersion: v1
kind: Service
metadata:
  name: simple-play-app
spec:
  ports:
    - name: http-metrics
      port: 9095
      targetPort: 9095
      protocol: TCP
  selector:
    app: simple-play-app
