apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: simple-play-app
  labels:
    app: simple-play-app
    app.kubernetes.io/instance: prometheus
  namespace: observe
spec:
  selector:
    matchLabels:
      app: simple-play-app
  endpoints:
    - path: /
      port: service
  namespaceSelector:
    matchNames:
      - default
